 .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
    text-align: center;
    background: #DF74FE;
    color: antiquewhite;
    background-image: linear-gradient(120deg, #DF74FE, #FBA906);
    margin-bottom: 0px;
} 
  
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
